body {
    font-family: 'Titillium Web', sans-serif !important;
    min-height: 100vh;
}

.footer{
    position: absolute;
    /*font-weight: bold;*/
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: blue;
}
