<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Login Page</h1>

<div th:if="${param.error}" class="alert">
  Invalid username or password
</div>

<div th:if="${param.logout}">
  You have logged out successfully
</div>

<form th:action="@{/login}" method="POST">
  Username: <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username">
  Password: <input type="password" id="password" name="password" placeholder="Password">
  <br>
  <input type="submit" name="login-submit" id="login-submit" value="Log In">
</form>
</body>
</html>
