<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dog Show</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="card bg-dark text-white">
  <img th:src="@{/img/background1.jpg}" class="card-img" alt="..."
       style="width:100%;height:130px;object-fit:cover;object-position:0 15%">
  <div class="card-img-overlay">
    <h1 class="card-title" style="text-align: center;margin:0 auto">Welcome TO Dog Show</h1>
  </div>
</div>

<header>
  <nav class="nav navbar-expand md navbar-dark bg-primary" style="padding-left: 0.5rem;">
    <ul class="navbar-nav">
      <li><a href="/" class="nav-link">WELCOME TO DOG SHOW</a></li>
      <li><a href="/register" class="nav-link">REGISTER YOUR DOGS</a></li>
      <li><a href="/view" class="nav-link">VIEW DOGS</a></li>
      <li><a href="/search" class="nav-link">SEARCH DOGS</a></li>
      <li><a href="/showList" class="nav-link">SHOW LIST</a></li>
      <li><a href="/handler" class="nav-link">FOR HANDLER</a></li>
    </ul>
  </nav>
</header>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>DOG'S NAME</th>
    <th>OWNER'S NAME</th>
    <th>EMAIL</th>
    <th>BREED</th>
    <th>GROUP</th>
    <th>GENDER</th>
    <th>RANKING</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tr th:each="dog: ${dogs}">
    <td th:text="${dog.id}"></td>
    <td th:text="${dog.name}"></td>
    <td th:text="${dog.ownerName}"></td>
    <td th:text="${dog.email}"></td>
    <td th:text="${dog.breed}"></td>
    <td th:text="${dog.groupName}"></td>
    <td th:text="${dog.gender}"></td>
    <td th:text="${dog.ranking}"></td>
  </tr>

</table>

<footer class="footer bg-primary" style="position:fixed; bottom:-15px; left:0px;right:0px;">
  <div class="container text-center">
    <span class="text-light">&copy; All Rights Reserved By DOG SHOW</span>
  </div>
</footer>

</body>
</html>
